<script>
    console.log('dtable.html loaded');
</script>
{% if page.dataTableUrl %}

<!-- DataTables  js if async => lines#74 does not work properly -->
<script type="text/javascript" id="datatables-script" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" id="jquery-script" src="//cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>

<!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
<script>
    console.log('DataTables starting...');

    getData = async function () {
        console.log('DataTables getData called');
        try {
            console.log('Fetching data from {{ page.dataTableUrl }}');
            let response = await fetch('{{ page.dataTableUrl }}');
            const data = await response.json();
            //     url: '{{ page.dataTableUrl }}',
            //     //crossDomain: true, 
            //     prefetch: false,
            //     dataSrc: '',
            //   });
            console.log('DataTables data loaded:', data.length, data);
            // remove 1st row because it contains column names, not data
            data.shift();
            let ret = data.map(function (item) {
                return item.split(','); // wrap each string in an array
            });
            return ret;

        } catch (error) {
            console.error('Error in getData:', error);
            return [];
        }
    };

    $(document).ready(function () {
        console.log('DataTables document ready');

        getData().then(function (data) {
            console.log('DataTables data received:', data);
            //   table.on('order', () => console.log('DataTables data received:', 'order'))
            //        .on('search', () => console.log('DataTables data received:', 'search'))
            //        .on('select', () => console.log('DataTables data received:', 'select'))
            //        .on('user-select', () => console.log('DataTables data received:', 'user-select'));

            new DataTable('#myTable', {
                //ajax: 'http://localhost:8090/sources'
                data: data,
                columnDefs: [
                    {
                        targets: 0,
                        data: 'download_link',
                        render: function (data, type, row, meta) {
                            return '<a href="./' + row[0] + '">' + row[0] + '</a>';
                        }
                    }
                ],
            });
        });
    });
</script>
{%- endif %}