<script>
    console.log('dtable.html INIT -- it loads datable js and css');
</script>
{% if page.wsDatatablePath %}

<!-- DataTables  js if async => lines#74 does not work properly -->
<script type="text/javascript" id="datatables-script" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" id="jquery-script" src="//cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>

<!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
<script>
    console.log('DataTables starting...');
    function showError(message) {
        const errorBox = document.getElementById('errorBox');

        errorBox.textContent = message;
        errorBox.classList.remove('hidden');
    }

    function clearError() {
        const errorBox = document.getElementById('errorBox');

        errorBox.textContent = '';
        errorBox.classList.add('hidden');
    }
    var table = new DataTable('#dTable');
    $(document).ready(function () {
        console.log('DataTables document ready');
        // TODO: autoload data per table
        // let dtRun = $('#dTable').data('dt-run');
        // if (dtRun != undefined && !dtRun) return;
    });
</script>
{%- endif %}