{% assign tablePos = include.tablePos | default: 0 %}
{% assign tableId = page.wsDatatableIds[tablePos] %}
{% assign tableCols = page.wsDatatableCols[tablePos] %}
{% if tableId && tableCols %}
<table id="{{ tableId }}" class="styled-table" data-dt-path="" data-dt-run="false">
    <thead>
        <tr>{% for col in tableCols %}<th>{{ col }}</th>{% endfor %}</tr>
    </thead>
    <tbody></tbody>
</table>
{%- endif %}
<script> 
// console.log('Initializing DataTable with tablePos: {{tablePos}}, tableId: {{tableId}}, tableCols: {{tableCols}}');
// console.log('DataTables initialized with columns: {{ tableCols | join: ", " }}');
</script>