---
layout: page
title: Certificates Analysis by Market Value
subtitle: Discover what certificates are sold for less than their par (face) value. 
intro: Buying investment certificates issued below par (at a discount) is attractive primarily because it increases the potential yield and provides a built-in capital gain at maturity.
ext-css: //cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css
footer-extra: dtable-init.html
comments: false
before-content: intro-page.html
wsDatatableIds: [
  'details_table'
]
wsDatatableCols: [
  ['ISIN', 'Issuer', 'Name', 'Coupon','Ex-Date', 'Ask', 'Bid', 'Growth_1D' , 'Growth_3D', 'Growth_1W', 'Growth_2W', 'Growth_4W']
]
wsDatatablePaths: [
  /certificates-growth/*
]
# ext-js: [
#     //cdn.datatables.net/2.3.7/js/dataTables.dataTables.min.js, 
#     //code.jquery.com/jquery-3.5.1.min.js
# ]
---

<div class="tool-container">

 <!-- Header -->
  <div class="tool-header">
    <h3>Certificate Explorer</h3>
    <p class="tool-description">
      Select criterias to search for certificates and analyze the results.
    </p>
  </div>

  <!-- Selectors -->
  <div class="tool-section">
    <label for="market_value" class="tool-label">Value</label>
    <select name="market_value" id="market_value" class="tool-input">
      <option value="">-- Choose a criteria --</option>
      <option value="below">Less than 100</option>
      <option value="over">Greater than 100</option>
    </select>

    <label for="growth" class="tool-label">Growth</label>
    <select name="growth" id="growth" class="tool-input">
      <option value="">-- Choose a criteria --</option>
      <option value="up">Rising</option>
      <option value="down">Falling</option>
    </select>
  </div>

    <!-- Actions -->
  <div class="tool-actions">
    <button id="btnPrimary" class="btn btn-primary">
      Search
    </button>
     {% include error-box.html errorBoxId="errorBoxForLoad" %}
  </div>

  <!-- Table -->
  <div class="tool-section">
    <div class="table-header">
      <h4>Certificates</h4>
      <span id="result_count" class="table-count"></span>
    </div>

    <div class="table-wrapper">
      {% include dtable-th.html tablePos=0 %}
    </div>
  </div>

</div>
<script>
// button btnPrimary
document.getElementById('btnPrimary').addEventListener('click', function() {
  // get growth and value criteria
    let growth = document.getElementById('growth').value;
    let value = document.getElementById('market_value').value;
    if (growth || value) {
        // Fetch data from the API endpoint
        console.log("Selected growth and value: ", growth, value);
        // generate base64 secret for authorization header
        // var secret = btoa("{{ site.wsSecret }}");
        dtUpdate(0, '?growth1d=' + growth + '&parvalue=' + value);
       
    } else {
        console.log("No parameters selected");
        ErrorBox.show("Please select at least one criteria for growth or market value.", "errorBoxForLoad");
    }
});
</script>


